<body class="font-sans bg-[#0C101C] text-gray-300 flex flex-col min-h-screen">
    <aside class="w-1/6 h-screen overflow-hidden bg-[#0C101C] border-r border-[#171F35] md:w-1/5 lg:w-1/6 md:border-r-2">
        <nav class="p-2">
            <ul class="">
                <li id="homeLink" class="sidebar-item">
                    <a href="/dashboard" class="sidebar-link flex items-center p-2">
                        <i class="fas fa-home text-lg md:text-sm mr-2"></i>
                        <span class="hidden md:inline-block md:text-lg">Home</span>
                    </a>
                </li>
                <li id="filesLink" class="sidebar-item">
                    <a href="/dashboard/files" class="sidebar-link flex items-center p-2">
                        <i class="fas fa-file-alt text-lg md:text-sm mr-2"></i>
                        <span class="hidden md:inline-block md:text-lg">Files</span>
                    </a>
                </li>
            </ul>
        </nav>
    </aside>

    <script>
        document.addEventListener('DOMContentLoaded', async function () {
            try {
                const response = await fetch('/api/users');
                const users = await response.json();
                const isAdmin = users.some(user => user.isAdmin);

                const adminLink = document.getElementById('adminLink');

                if (isAdmin) {
                    adminLink.classList.remove('hidden');
                }
            } catch (error) {
                console.error('Error Fetching User Information:', error);
            }
        });
    </script>
</body>
