<header class="bg-gradient-to-r from-black via-black to-black py-4">
    <div class="container mx-auto flex items-center justify-between">
            <a href="/"><h1 class="text-2xl font-extrabold">OpenX</h1></a></a>
        </div>
    </div>
</header>